* {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

body {
  font-family: Manrope;
  font-size: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  background-color: #fff;
  opacity: 1;
  transition: opacity $animation-duration-short;
}

section:not(.footer) {
  margin-bottom: 500px;
}

@include breakpoint($tablet, $desktop) {
  section:not(.footer) {
    margin-bottom: 420px;
  }
}

@include breakpoint(0, $tablet) {
  section:not(.footer) {
    margin-bottom: 350px;
  }
}

textarea,
input,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: Manrope;
}

::-moz-selection {
  /* Code for Firefox */
  color: $clr-primary-500;
  background: black;
}

::selection {
  color: $clr-primary-500;
  background: black;
}

.animationTrigger {
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  background-color: red;
  z-index: 100;
}

.backgroundText {
  width: fit-content;
  position: absolute;
  z-index: -2;
  user-select: none;

  svg {
    overflow: visible;
    position: relative;
  }

  text {
    font-family: Manrope;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 8px;
  }

  text:nth-of-type(1) {
    fill: none;
    stroke: $clr-neutral-300;
    stroke-width: 11px;
    stroke-linejoin: round;
  }

  text:nth-of-type(2) {
    stroke-width: 8px;
    fill: $clr-neutral-100;
  }
}