@import "./../../styling/base";
@import "./../../styling/variables";
@import "./../../styling/fonts";

.about {
    padding-left: 20%;
    height: fit-content;

    .text {
        font-size: $fs-300;
        line-height: $line-height-l;
        letter-spacing: $letter-spacing-s;
        max-width: 72ch;
        position: relative;

        :nth-child(1) {
            margin-bottom: 32px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -72px;
            height: 100%;
            width: 2px;
            background-color: black;
        }
    }
}

@include breakpoint(0, $mobile) {
    .about {
        padding-left: calc($h-padding-tablet + 24px);
        height: fit-content;
        padding-right: $h-padding-mobile;

        .text {
            font-size: $fs-250;

            &::after {
                left: -48px;
            }
        }
    }
}